#photo-grid {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "main main main main second"
    "main main main main third"
    "main main main main fourth"
    "main main main main fifth"
    "tenth ninth eighth seventh sixth";
}

#main {
  grid-area: main;
  border: var(--borWid) solid var(--charcoal);
}

#second {
  grid-area: second;
  border: var(--borWid) solid var(--charcoal);
}

#third {
  grid-area: third;
  border: var(--borWid) solid var(--charcoal);
}

#fourth {
  grid-area: fourth;
  border: var(--borWid) solid var(--charcoal);
}

#fifth {
  grid-area: fifth;
  border: var(--borWid) solid var(--charcoal);
}

#sixth {
  grid-area: sixth;
  border: var(--borWid) solid var(--charcoal);
}

#seventh {
  grid-area: seventh;
  border: var(--borWid) solid var(--charcoal);
}

#eighth {
  grid-area: eighth;
  border: var(--borWid) solid var(--charcoal);
}

#ninth {
  grid-area: ninth;
  border: var(--borWid) solid var(--charcoal);
}

#tenth {
  grid-area: tenth;
  border: var(--borWid) solid var(--charcoal);
}

.photo-grid-area {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  transition: background-image 1s ease-in-out;
}
