#root {
  max-width: 1280px;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  --charcoal: #262626;
  --transp: rgba(50, 50, 50, 0.65);
  --borWid: 2px;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
}
